    <!-- Header -->
    <div class="header bg-primary pb-4">
        <div class="container-fluid">
          <div class="header-body">
            <!-- Card stats -->
            {% if request.user.is_superuser %}

            <div class="row">
              <div class="col-xl-3 col-md-4">
                <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Total Passengers</h5>
                        <span class="h2 font-weight-bold mb-0">{{passengers_length}}</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                          <i class="ni ni-active-40"></i>
                        </div>
                      </div>
                    </div>
                   
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-4">
                <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Total Flights</h5>
                        <span class="h2 font-weight-bold mb-0">{{Flights_length}}</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                          <i class="ni ni-chart-pie-35"></i>
                        </div>
                      </div>
                    </div>  
                  </div>
                </div>
              </div>


              <div class="col-xl-3 col-md-4">
                <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Total Flights Available</h5>
                        <span class="h2 font-weight-bold mb-0">{{Flights_true_length}}</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                          <i class="ni ni-chart-pie-35"></i>
                        </div>
                      </div>
                    </div>  
                  </div>
                </div>
              </div>


              <div class="col-xl-3 col-md-4">
                <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Total Flights not Available</h5>
                        <span class="h2 font-weight-bold mb-0">{{Flights_False_length}}</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                          <i class="ni ni-chart-pie-35"></i>
                        </div>
                      </div>
                    </div>  
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-md-4">
                <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Total Reservations</h5>
                        <span class="h2 font-weight-bold mb-0">{{Reservation_length}}</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                          <i class="ni ni-chart-pie-35"></i>
                        </div>
                      </div>
                    </div>  
                  </div>
                </div>
              </div>

              <div class="col-xl-3 col-md-4">
                <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Total True Reservations</h5>
                        <span class="h2 font-weight-bold mb-0">{{Reservation_true_length}}</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                          <i class="ni ni-chart-pie-35"></i>
                        </div>
                      </div>
                    </div>  
                  </div>
                </div>
              </div>
              
              <div class="col-xl-3 col-md-4">
                <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Total False Reservations</h5>
                        <span class="h2 font-weight-bold mb-0">{{Reservation_false_length}}</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                          <i class="ni ni-chart-pie-35"></i>
                        </div>
                      </div>
                    </div>  
                  </div>
                </div>
              </div>

            </div>
            {% endif%}
          </div>
        </div>
      </div>