{% extends 'layouts/base.html' %}

{% block title %} {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">

        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Flights </h3>
            <hr>
              <a href="{% url 'add_flight' %}" class="btn btn-sm btn-neutral"> Add New</a>
              <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name"></th>
                  <th scope="col" class="sort" data-sort="name">Flight Name</th>
                  <th scope="col" class="sort" data-sort="budget">Flight UID</th>
                  <th scope="col" class="sort" data-sort="status">Flight start</th>
                  <th scope="col" class="sort" data-sort="status">Flight End</th>
                  <th scope="col" class="sort" data-sort="status">Duration</th>
                  <th scope="col" class="sort" data-sort="completion">From</th>
                  <th scope="col" class="sort" data-sort="completion">To</th>

                  <th scope="col"> Actions </th>
                </tr>
              </thead>
              <tbody class="list">
                {% for f in flights%}
                  {% if f.available == True %}
                  <tr class="table-success">
                  {% else %}
                  <tr class="table-danger">
                  {% endif %}

                  <td class="budget">
                    <span class="status" > <a href="{% url 'show_flight' f.id %}" > Show </a> </span>
                  </td>

                  <td class="budget">
                    <span class="badge badge-dot mr-4">
                      <span class="status">{{ f.flight_name}}</span>
                    </span>
                  </td>
                  <td class="budget">
                    <span class="badge badge-dot mr-4">
                      <span class="status">{{f.flight_UID}}</span>
                    </span>
                  </td>
                  <td class="budget">
                    <span class="badge badge-dot mr-4">
                      <span class="status">{{f.flight_start}}</span>
                    </span>
                  </td>
                  <td class="budget">
                    <span class="badge badge-dot mr-4">
                      <span class="status">{{f.flight_end}}</span>
                    </span>
                  </td>
                  <td class="budget">
                    <span class="badge badge-dot mr-4">
                      <span class="status">{{f.flight_duration}}</span>
                    </span>
                  </td>
                  <td class="budget">
                    <span class="badge badge-dot mr-4">
                      <span class="status">{{f.From}}</span>
                    </span>
                  </td>
                  <td class="budget">
                    <span class="badge badge-dot mr-4">
                      <span class="status">{{f.To}}</span>
                    </span>
                  </td>
                  
                  <td class="text-right">
                    <div class="dropdown">
                      <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        
                        <a class="dropdown-item" href="{% url 'update_flight' f.id %}">Update </a>
                        <a class="dropdown-item" href="{% url 'delete_flight' f.id %}">Delete </a>
                      </div>
                    </div>
                  </td>
                
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>

          <!-- Card footer -->
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
