{% extends 'layouts/base.html' %}

{% block title %} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <!-- Page Status -->

    {% include "includes/status.html" %}

    <!-- Page content -->
    <div class="table-responsive">

    </div>
    
    <!-- Page Footer -->
    {% include "includes/footer.html" %}



{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
