{% extends 'layouts/base.html' %}

{% block title %} {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">

        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Flight </h3>
            <hr>
          </div>
          <div class="card-body">
            <h6 class="heading-small text-muted mb-4">Flight information</h6>
            <div class="d-flex flex-row mb-6">
              <img src="https://i.imgur.com/ccMhxvC.png" width="70">
              <div class="d-flex flex-column ml-2">
                <span>{{flight.flight_UID}}</span>
                <span class="text-black-50">{{flight.flight_name}}</span>
              </div>
            </div>
            <div class="pl-lg-4">
              <h6 class="heading-small text-muted mb-4">Form : {{flight.From}}</h6> 
              <h6 class="heading-small text-muted mb-4">To : {{flight.To}}</h6>
              <h6 class="heading-small text-muted mb-4">Start : {{flight.flight_start}} </h6>
              <h6 class="heading-small text-muted mb-4">End : {{flight.flight_end}}</h6>
              <h6 class="heading-small text-muted mb-4">Duration : {{flight.flight_duration}}</h6>
            </div>
            
            <!-- Form -->
            <form action="" method="POST" >
              <div class="pl-lg-4">
                <div class="card-header border-0">
                  <h3 class="mb-0">To make sure you finish the reservation complete details </h3>
                  <hr>
                </div>
                <div class="row">
                  <div class="row">
                    {% csrf_token %}
                    {{ form.management_form }}
                    {% for field in form %}
                    <div class="col-lg-6">
                      {{field.label}}
                      {{field}}
                    </div>
                    <hr>
                    {% endfor %}

                    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                      <div class="d-flex justify-content-between">
                        <input type="submit" name="Confirm" class="btn btn-sm btn-default float-right">
                      </div>
                    </div>
                    {% for message in messages %}
                    <p1 id = 'message' >{{message}}</p1>
                    {% endfor %}
                </div>
              </div>                     
            </form>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>






{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
