{% extends 'layouts/base.html' %}

{% block title %} {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">

        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0"> Predict Reservations Complection</h3>
            <hr>
              <a href="{% url 'predict_reservation_reset_all' %}" class="btn btn-sm btn-neutral">Reset All</a>
              <a href="{% url 'predict_reservation' %}" class="btn btn-sm btn-neutral"> Predict </a>
              <a href="{% url 'export_csv' %}" class="btn btn-sm btn-neutral"> Export CSV </a>

              <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name"></th>
                  <th scope="col" class="sort" data-sort="name">ID Reservations</th>
                  <th scope="col" class="sort" data-sort="budget">ID Flight</th>
                  <th scope="col" class="sort" data-sort="status">ID Passenger</th>
                  <th scope="col">Completion State (Predict)</th>
                </tr>
              </thead>
              <tbody class="list">
                {% for f in reservation_predicted_list %}
                
                  {% if f.complete == "True" %}
                  <tr class="table-success">
                  {% elif f.complete == "Fake" %}
                  <tr class="table-danger">
                  {% else  %}
                  <tr class="table-warning">
                  {% endif %}

                  <td class="budget">
                    <span class="status" > <a href="{% url 'predict_reservation_show' f.id%}" > Show </a> </span>
                  </td>

                  <td class="budget">
                    <span class="badge badge-dot mr-4">
                      <span class="status">{{f.id}}</span>
                    </span>
                  </td>
                  <td class="budget">
                    <span class="badge badge-dot mr-4">
                      <span class="status">{{f.reservationFlight.flight.id}}</span>
                    </span>
                  </td>
                  <td class="budget">
                    <span class="badge badge-dot mr-4">
                      <span class="status">{{f.reservationFlight.passenger.id}}</span>
                    </span>
                  </td>
                  <td class="budget">
                    <span class="badge badge-dot mr-4">
                      <span class="status">{{f.complete}}</span>
                    </span>
                  </td>

                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <!-- Card footer -->
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
